@import 'src/settings/vars'
@import 'src/settings/mixins'

.list
  width: 120px
  padding-left: 0
  list-style-type: none
  &__title
    font-size: 18px
    font-family: 'Bold'
    margin-bottom: 20px
  &__link
    font-family: 'Light'
    font-size: 14px
    margin-top: 10px
.footer
  padding-top: 200px
  padding-bottom: 50px
  display: flex
  justify-content: space-between
  &__brand
    margin-right: 200px
    width: 340px
    display: flex
    flex-direction: column
  &__title
    font-size: 20px
    display: flex
    align-items: center
  &__subtitle
    margin-top: 20px
  &__socials
    margin-top: 20px
    margin-bottom: 20px
    a
      margin-right: 20px
