@import 'src/settings/vars'
@import 'src/settings/mixins'

.testimonials
  padding-top: 100px
  padding-bottom: 100px
  text-align: center
  &__title
  &__subtitle
    margin-top: 30px
  &__comments
    margin-top: 60px
    display: flex
    justify-content: space-between
