@import 'src/settings/vars'
@import 'src/settings/mixins'

.statblock
  display: flex
  width: 35%
  height: 120px
  align-items: center
  justify-content: center
  +s
    text-align: right
    height: 100px
    width: 80%
    justify-content: space-between
  &__icon
    margin-right: 36px
    width: 55px
    height: 55px
    +m
      margin-right: 20px
  &__count
    font-family: 'Bold'
    font-size: 25px
    line-height: 30px
    color: black
  &__item
    font-size: 20px
    line-height: 30px
