@import '/src/settings/normalize.css'
@import 'src/fonts/fonts'
@import 'src/settings/vars'
@import 'src/settings/mixins'

*
  box-sizing: border-box
  margin: 0

a
  text-decoration: none
  color: $text

button
  border: none
  background-color: transparent
  &:hover
    cursor: pointer
  &:active
    outline: none
  &:focus
    outline: none

body
  font-family: 'Light'
  color: $text
  line-height: 1.2

h2
  font-family: 'Regular'
  color: black
  font-size: 35px
  line-height: 50px

h3
  font-family: 'Regular'
  color: black
  font-size: 18px
  line-height: 30px

.first
  background-color: white
